.Smiles{ background:url("Smiles.png") top left no-repeat; }
.Smiles_fw_r13_c2{ width:30px; height:30px; background-position:-10px -10px; }
.Smiles_fw_r15_c2{ width:30px; height:30px; background-position:-10px -50px; }
.Smiles_fw_r17_c2{ width:30px; height:30px; background-position:-10px -90px; }
.Smiles_fw_r19_c2{ width:30px; height:30px; background-position:-10px -130px; }
.Smiles_fw_r21_c2{ width:30px; height:30px; background-position:-10px -170px; }
.Smiles_fw_r23_c3{ width:30px; height:30px; background-position:-10px -210px; }
.Smiles_fw_r25_c3{ width:30px; height:30px; background-position:-10px -250px; }
.Smiles_fw_r11_c2{ width:30px; height:30px; background-position:-10px -290px; }
.Smiles_fw_r9_c2{ width:30px; height:30px; background-position:-10px -330px; }
.Smiles_fw_r7_c2{ width:30px; height:30px; background-position:-10px -370px; }
.Smiles_fw_r13_c6{ width:30px; height:30px; background-position:-10px -410px; }
.Smiles_fw_r15_c6{ width:30px; height:30px; background-position:-10px -450px; }
.Smiles_fw_r17_c6{ width:30px; height:30px; background-position:-10px -490px; }
.Smiles_fw_r19_c6{ width:30px; height:30px; background-position:-10px -530px; }
.Smiles_fw_r21_c6{ width:30px; height:30px; background-position:-10px -570px; }
.Smiles_fw_r23_c7{ width:30px; height:30px; background-position:-10px -610px; }
.Smiles_fw_r25_c7{ width:30px; height:30px; background-position:-10px -650px; }
.Smiles_fw_r11_c6{ width:30px; height:30px; background-position:-10px -690px; }
.Smiles_fw_r9_c6{ width:30px; height:30px; background-position:-10px -730px; }
.Smiles_fw_r7_c6{ width:30px; height:30px; background-position:-10px -770px; }
.Smiles_fw_r13_c10{ width:30px; height:30px; background-position:-10px -810px; }
.Smiles_fw_r15_c10{ width:30px; height:30px; background-position:-10px -850px; }
.Smiles_fw_r17_c10{ width:30px; height:30px; background-position:-10px -890px; }
.Smiles_fw_r19_c10{ width:30px; height:30px; background-position:-10px -930px; }
.Smiles_fw_r21_c10{ width:30px; height:30px; background-position:-10px -970px; }
.Smiles_fw_r23_c11{ width:30px; height:30px; background-position:-10px -1010px; }
.Smiles_fw_r25_c11{ width:30px; height:30px; background-position:-10px -1050px; }
.Smiles_fw_r11_c10{ width:30px; height:30px; background-position:-10px -1090px; }
.Smiles_fw_r9_c10{ width:30px; height:30px; background-position:-10px -1130px; }
.Smiles_fw_r7_c10{ width:30px; height:30px; background-position:-10px -1170px; }
.Smiles_fw_r13_c14{ width:30px; height:30px; background-position:-10px -1210px; }
.Smiles_fw_r15_c14{ width:30px; height:30px; background-position:-10px -1250px; }
.Smiles_fw_r17_c14{ width:30px; height:30px; background-position:-10px -1290px; }
.Smiles_fw_r19_c14{ width:30px; height:30px; background-position:-10px -1330px; }
.Smiles_fw_r21_c14{ width:30px; height:30px; background-position:-10px -1370px; }
.Smiles_fw_r23_c15{ width:30px; height:30px; background-position:-10px -1410px; }
.Smiles_fw_r25_c15{ width:30px; height:30px; background-position:-10px -1450px; }
.Smiles_fw_r11_c14{ width:30px; height:30px; background-position:-10px -1490px; }
.Smiles_fw_r9_c14{ width:30px; height:30px; background-position:-10px -1530px; }
.Smiles_fw_r7_c14{ width:30px; height:30px; background-position:-10px -1570px; }
.Smiles_fw_r13_c22{ width:30px; height:30px; background-position:-10px -1610px; }
.Smiles_fw_r15_c22{ width:30px; height:30px; background-position:-10px -1650px; }
.Smiles_fw_r17_c22{ width:30px; height:30px; background-position:-10px -1690px; }
.Smiles_fw_r19_c22{ width:30px; height:30px; background-position:-10px -1730px; }
.Smiles_fw_r21_c22{ width:30px; height:30px; background-position:-10px -1770px; }
.Smiles_fw_r23_c23{ width:30px; height:30px; background-position:-10px -1810px; }
.Smiles_fw_r25_c23{ width:30px; height:30px; background-position:-10px -1850px; }
.Smiles_fw_r11_c22{ width:30px; height:30px; background-position:-10px -1890px; }
.Smiles_fw_r9_c22{ width:30px; height:30px; background-position:-10px -1930px; }
.Smiles_fw_r7_c22{ width:30px; height:30px; background-position:-10px -1970px; }
.Smiles_fw_r13_c18{ width:30px; height:30px; background-position:-10px -2010px; }
.Smiles_fw_r15_c18{ width:30px; height:30px; background-position:-10px -2050px; }
.Smiles_fw_r17_c18{ width:30px; height:30px; background-position:-10px -2090px; }
.Smiles_fw_r19_c18{ width:30px; height:30px; background-position:-10px -2130px; }
.Smiles_fw_r21_c18{ width:30px; height:30px; background-position:-10px -2170px; }
.Smiles_fw_r23_c19{ width:30px; height:30px; background-position:-10px -2210px; }
.Smiles_fw_r25_c19{ width:30px; height:30px; background-position:-10px -2250px; }
.Smiles_fw_r11_c18{ width:30px; height:30px; background-position:-10px -2290px; }
.Smiles_fw_r9_c18{ width:30px; height:30px; background-position:-10px -2330px; }
.Smiles_fw_r7_c18{ width:30px; height:30px; background-position:-10px -2370px; }
.Smiles_fw_r2_c22{ width:30px; height:30px; background-position:-10px -2410px; }
.Smiles_fw_r1_c18{ width:30px; height:30px; background-position:-10px -2450px; }
.Smiles_fw_r1_c14{ width:30px; height:30px; background-position:-10px -2490px; }
.Smiles_fw_r1_c10{ width:30px; height:30px; background-position:-10px -2530px; }
.Smiles_fw_r2_c6{ width:30px; height:30px; background-position:-10px -2570px; }
.Smiles_fw_r2_c2{ width:30px; height:30px; background-position:-10px -2610px; }
.Smiles_fw_r5_c2{ width:30px; height:30px; background-position:-10px -2650px; }
.Smiles_fw_r5_c6{ width:30px; height:30px; background-position:-10px -2690px; }
.Smiles_fw_r5_c10{ width:30px; height:30px; background-position:-10px -2730px; }
.Smiles_fw_r5_c14{ width:30px; height:30px; background-position:-10px -2770px; }
.Smiles_fw_r5_c22{ width:30px; height:30px; background-position:-10px -2810px; }
.Smiles_fw_r5_c18{ width:30px; height:30px; background-position:-10px -2850px; }

