

<div class="container">
    <img class="imgTopo" src="~/Images/FeedBack.fw_r2_c2.png" />
    <img class="imgTopo left" src="~/Images/astronauta.png" />
    <img class="imgTopo right" src="~/Images/onibus.png" />
    <section class="head">
       
        <h4>Me ajude a decolar em minha carreira</h4>
        <p>Sua participação é muito importante, pois meu foco é coletar informações para que eu possa evoluir e ajudar a melhorar nosso cotidiano e manter o crescimento do nosso time.</p>
    </section>
    
    <cards-pergunta></cards-pergunta>

    <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btnEnviarFeedback">
        ENVIAR FEEDBACK
    </button>

    <footer>
        <img class="right" src="~/Images/planeta.png" />
        <span>Desenvolvido por José Cléber dos Santos Ferreira</span>
        <div class="barraFooter"></div>
    </footer>

</div>
    


    <pre>{{ questoes | json }}</pre>
